mixin select(data)
  select(name=`${data.name}` id=`${data.id}`)
    each option in data.options
      option(value=`${option}`)= option

mixin range-field(data)
  .range-field
    .range-field__hint кв.м
    input(type="text" id=`${data.id}-screen` value="5")
    input(
      type="range" 
      name=`${data.name}` 
      id=`${data.id}` 
      min="1" 
      step="1"  
      max="1000"
      value="5"
    )

mixin checkbox(data)
  label.input-checkbox
    if data.checked
      input(type="checkbox" name=`${data.name}` value=`${data.label}` checked).input-checkbox__input
    else
      input(type="checkbox" name=`${data.name}`  value=`${data.label}`).input-checkbox__input
    .input-checkbox__label= data.label

mixin radio(name, value, checked)
  label.input-checkbox
    if checked
      input(type="radio" name=`${name}` value=`${value}` checked).input-checkbox__input
    else
      input(type="radio" name=`${name}`  value=`${value}`).input-checkbox__input
    .input-checkbox__label= value

mixin text-field(data)
  input(name=`${data.name}` placeholder=""+data.placeholder).text-field

mixin date-input(data)
  input(type="date" name="datepicker" min="2020-01-01").date-input

mixin email(name, placeholder)
  input(name="email" placeholder=`${placeholder}`).email-input

mixin phone(placeholder)
  input(name="phone" placeholder=`${placeholder}`).phone-input