mixin image(base_type, img_name, alt)
  .image
    .image__picture
      img(src="img/general/preloader.gif" data-srcset=`img/general/${img_name}.${base_type}` alt=""+alt).image__img.lazy-img-simple

mixin image-adaptive(img_name, alt)
  .image-adaptive
    .image-adaptive__wrapper
      img(
        src="img/general/preloader.gif" 
        data-srcset=`img/general/${img_name}.jpg` alt=""+alt
      ).image-adaptive__img.lazy-img-simple

mixin image-noll(img_name, alt)
  .image
    .image__picture
      img(src=`img/general/${img_name}.jpg` alt=""+alt).image__img